extends layouts/layout
block content
    div#example
    script(type="text/babel").
        var HelloMessage = React.createClass({
            render: function(){
                return <h1>Hello {this.props.name}</h1>;
            }
        });

        ReactDOM.render(
            <HelloMessage name="JeanYe" />,
            document.getElementById('example')
        )