doctype html
html
    head
        title react demo
        script(src="build/react.js")
        script(src="build/react-dom.js")
        script(src="build/browser.min.js")
    body
        block content